[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
python-dotenv = "*"
langchain = "*"
langchain-community = "*"
langchain-experimental = "*"
faiss-cpu = "*"
xxhash = "*"
openpyxl = "*"
matplotlib = "*"
numpy = "*"
typing-extensions = "*"
openai = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.10"
