[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
python-dotenv = "*"
langchain = "*"
langchain-community = "*"
langchain-huggingface = "*"
langchain-experimental = "*"
huggingface_hub = "*"
faiss-cpu = "*"
sentence-transformers = "*"
bs4 = "*"
pypdf = "*"
openllm = "*"
xxhash = "*"
openpyxl = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.10"
